.footer {
    background-color: $black;
    padding-top: 4.545rem;
    color: $white;
    padding-bottom: 1.363rem;

    h3 {
        opacity: 0.3;
        &:before {
            content: "—";
            padding-right: .9rem;
        }
    }

    ul {
        list-style: none;
    }

    .footer-copyright {
        padding-top: 1.363rem;
        border-top: 1px solid rgba(255, 255, 255, 0.6);
    }

    a { color: inherit; }

}
