.navigation {
	position: absolute;
	top: 0;
	width: 100%;
	font-size: $font-size-5;
	background: #dedede;

	@include media-breakpoint-up(lg) {
		background: transparent;
	}

	@include media-breakpoint-up(xl) {
		padding-left: 2rem;
		padding-right: 2rem;
	}

	.navbar {
		padding: 2rem 1rem;

		@include media-breakpoint-up(xl) {
			padding: 2rem 1rem;
		}

		li {
			padding-top: 0;
			padding-bottom: 0;
			padding-left: .2rem;
			padding-right: .2rem;
		}
	}

	.navbar-nav {
		justify-content: space-between;
    	align-content: space-between;
		flex-basis: 100%;
		@include media-breakpoint-down(lg) {
			padding: 10px 0;
	    }
	}

	.nav-item-language {
		flex-basis: 18%;
		@include media-breakpoint-up(lg) {
			margin-left: .7rem;
	    }
	}

	.navbar-logo-wrapper {
		display: flex;
		flex-basis: 35%;
		justify-content: space-between;

		svg {
			max-width: 177px;
			@include media-breakpoint-up(lg) {
				max-width: 223px;
		    }
		}
	}

	.collapse.navbar-collapse {
		flex-basis: 65%;
	}

	.dropdown a {
		font-size: $font-size-5;
	}


}
