.navigation {
	position: absolute;
	top: 0;
	width: 100%;

	.navbar-logo-wrapper {
		display: flex;
		flex-basis: 35%;
		justify-content: space-between;
	}

	.collapse.navbar-collapse {
		flex-basis: 65%;
	}
}
