.card {

    &.card-simple, &.card-simple:last-child {
        border-color: transparent !important;
        .btn {
            padding-left: 0;
            padding-right: 0;
        }
    }

    &.card-process {
        background-color: transparent;
        border: 0 !important;
        padding: 0 2rem;
        margin-bottom: 1rem;

        &:last-child {
            border: 0 !important;
        }

        .card-title {
            margin-bottom: .5rem;
        }

        .card-subtitle {
            font-weight: 300;
        }

        figure.card-media {
            margin: 1rem 0;
            min-height: 308px;
            width: 100%;
            background-size: cover;
            background-position: center center;
            position: relative;

            figcaption {
                position: absolute;
                bottom: 0;
                top: 50%;
                transform: translateY(-50%);
                left: 0;
                margin: auto;
                font-size: 6.36rem;
                color: white;
                font-weight: 600;
                text-shadow: #191c1e 1px 0px 0px, #191c1e 0.540302px 0.841471px 0px, #191c1e -0.416147px 0.909297px 0px, #191c1e -0.989992px 0.14112px 0px, #191c1e -0.653644px -0.756802px 0px, #191c1e 0.283662px -0.958924px 0px, #191c1e 0.96017px -0.279415px 0px;
                @include media-breakpoint-up(lg) {
                    left: -100px;
                }
            }
        }
    }


    &.card-download {
        border-color: transparent !important;
        padding: 2.31rem 1rem;

        &:last-child { border:0 !important; }

        img {
            padding-bottom: 2.318rem;
        }

        .btn { margin: 0 auto; }

        p {
            font-size: $font-size-6;
            line-height: 18px;
            padding-bottom: 1.77rem;
            max-width: 80%;
            margin: 0 auto;
        }

    }

    &.card-about {
        color: white;
        padding: 1rem;
        position: relative;
        margin-bottom: 5rem;

        .card-title {
            text-align: center;
            position: absolute;
            top: -50px;
            left: 0;
            right: 0;
            margin: 0 auto;
            font-size: 6.06rem;
            @include media-breakpoint-up(lg) {
                display: block;
                top: -70px;
            }
        }

        .card-subtitle {
            padding-top: 3rem;
            padding-bottom: 1rem;
            text-align: center;
        }

        p { color: white; }
        &.card-about-primary {
            background-color: #6e67ce;
            .card-title {
                text-shadow: rgb(110, 103, 206) 1px 0px 0px, rgb(110, 103, 206) 0.540302px 0.841471px 0px, rgb(110, 103, 206) -0.416147px 0.909297px 0px, rgb(110, 103, 206) -0.989992px 0.14112px 0px, rgb(110, 103, 206) -0.653644px -0.756802px 0px, rgb(110, 103, 206) 0.283662px -0.958924px 0px, rgb(110, 103, 206) 0.96017px -0.279415px 0px;
            }
        }
        &.card-about-secondary {
            background-color: #67b334;
            .card-title {
                text-shadow: #67b334 1px 0px 0px, #67b334 0.540302px 0.841471px 0px, #67b334 -0.416147px 0.909297px 0px, #67b334 -0.989992px 0.14112px 0px, #67b334 -0.653644px -0.756802px 0px, #67b334 0.283662px -0.958924px 0px, #67b334 0.96017px -0.279415px 0px;
            }
        }
        &.card-about-teal {
            background-color: #42bfa8;
            .card-title {
                text-shadow: #42bfa8 1px 0px 0px, #42bfa8 0.540302px 0.841471px 0px, #42bfa8 -0.416147px 0.909297px 0px, #42bfa8 -0.989992px 0.14112px 0px, #42bfa8 -0.653644px -0.756802px 0px, #42bfa8 0.283662px -0.958924px 0px, #42bfa8 0.96017px -0.279415px 0px;
            }
        }
        &.card-about-neutral {
            background-color: #afb0b1;
            .card-title {
                text-shadow: #afb0b1 1px 0px 0px, #afb0b1 0.540302px 0.841471px 0px, #afb0b1 -0.416147px 0.909297px 0px, #afb0b1 -0.989992px 0.14112px 0px, #afb0b1 -0.653644px -0.756802px 0px, #afb0b1 0.283662px -0.958924px 0px, #afb0b1 0.96017px -0.279415px 0px;
            }
        }
    }

    .card-header {

        h4 {
            position: relative;
            cursor: pointer;

            &:hover { color: $color-primary; }

            &:after {
                width: 16px;
                height: 11px;
                content: "";
                position: absolute;
                right: 18px;
                top: 25%;
                background-size: 100%;
                background-repeat: no-repeat;
                @include media-breakpoint-up(lg) {
                    width: 26px;
                    height: 18px;
                }
            }
            &[aria-expanded="false"] {
                &:after { background-image: url('img/accordion-closed.svg'); }
            }

            &[aria-expanded="true"] {
                color: $color-primary;
                &:after { background-image: url('img/accordion-opened.svg'); }
            }
        }
    }

    .card-header-info {
        color: #afb0b1;
        text-transform: uppercase;
        line-height: 1;
        margin-bottom: 0;
        margin-top: .3rem;
        span {
            padding-right: 2rem;
            font-size: $font-size-6;
            letter-spacing: 2px;
        }
    }

    .card-body {
        padding-top: 0;
        color: $grey;
        p { margin-bottom: 1.25rem; }
    }

    img {
        max-width: 250px;
        margin: 0 auto;
        margin-bottom: 0.381rem;
     }

     p { margin-bottom: 0.3rem}


     border-top: 1px solid #e5e5e5 !important;

     &:last-child {
         border-bottom: 1px solid #e5e5e5 !important;
     }

}

.card-contact {
    padding: 1rem;
    border-radius: 3px;
    box-shadow: 0 1px 2px 0 rgba(25, 28, 30, 0.25),
                0 -1px 1px 0 rgba(25, 28, 30, 0.1);

    h5 { margin-bottom: 0;}
    .card-header-info { margin-top: 0;}

    heading { padding-bottom: 1.2rem; }
    .card-contact-link { padding-top: 1.2rem; }


}
