.card {

    &.card-simple, &.card-simple:last-child {
        border-color: transparent !important;
    }


    &.card-download {
        border-color: transparent !important;
        padding: 2.31rem 1rem;

        &:last-child { border:0 !important; }

        img {
            padding-bottom: 2.318rem;
        }

        .btn { margin: 0 auto; }

        p {
            font-size: $font-size-6;
            line-height: 18px;
            padding-bottom: 1.77rem;
            max-width: 80%;
            margin: 0 auto;
        }

    }

    .card-header {

        h4 {
            position: relative;
            cursor: pointer;

            &:hover { color: $color-primary; }

            &:after {
                width: 16px;
                height: 11px;
                content: "";
                position: absolute;
                right: 18px;
                top: 25%;
                background-size: 100%;
                background-repeat: no-repeat;
                @include media-breakpoint-up(lg) {
                    width: 26px;
                    height: 18px;
                }
            }
            &[aria-expanded="false"] {
                &:after { background-image: url('img/accordion-closed.svg'); }
            }

            &[aria-expanded="true"] {
                color: $color-primary;
                &:after { background-image: url('img/accordion-opened.svg'); }
            }
        }
    }

    .card-header-info {
        color: #afb0b1;
        text-transform: uppercase;
        line-height: 1;
        margin-bottom: 0;
        margin-top: .3rem;
        span {
            padding-right: 2rem;
            font-size: $font-size-6;
            letter-spacing: 2px;
        }
    }

    .card-body {
        padding-top: 0;
        color: $grey;
        p { margin-bottom: 1.25rem; }
    }

    img {
        max-width: 250px;
        margin: 0 auto;
        margin-bottom: 0.381rem;
     }

     p { margin-bottom: 0.3rem}


     border-top: 1px solid #e5e5e5 !important;

     &:last-child {
         border-bottom: 1px solid #e5e5e5 !important;
     }

}

.card-contact {
    padding: 1rem;
    border-radius: 3px;
    box-shadow: 0 1px 2px 0 rgba(25, 28, 30, 0.25),
                0 -1px 1px 0 rgba(25, 28, 30, 0.1);

    h5 { margin-bottom: 0;}
    .card-header-info { margin-top: 0;}

    heading { padding-bottom: 1.2rem; }
    .card-contact-link { padding-top: 1.2rem; }


}
