.carousel {
    .carousel-item {
        position: relative;
        .carousel-text {
            position: absolute;
            z-index: 3;
            padding: 1.8rem;
            top: 0;
            background-color: white;
            box-shadow: 0 1px 2px 0 rgba(25, 28, 30, 0.25), 0 -1px 1px 0 rgba(25, 28, 30, 0.1);
        }
    }

}
