.form-group-file {
    min-height: 338px;

    label {
        display: block;
        width: 100%;
        padding: 0.822rem 1.09rem;
        font-size: 1rem;
        line-height: 0.86;
        color: $black;
        opacity: 0.7;
        position: relative;
         overflow: hidden;
        background-clip: padding-box;
        background-color: rgba(240, 242, 247, 0.3);
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;

        @include media-breakpoint-up(xl) {
            height: 100%;
        }

        p {
            margin-top: 1rem;
        }

        &:before {
            content: "";
            position: absolute;
            border: 10px dashed rgba(25, 28, 30, 0.2);
            top: -8px;
              bottom: -8px;
              left: -8px;
              right: -8px;
            border-radius: 3px;
            }
    }

    input {
        display: none;
    }
}
