.img {
    position: relative;

    &.img-wooden:before {
        display: none;
        content: " ";
        background-image: url('/img/line-wooden.png');
        background-size: cover;
        height: 8px;
        width: 35%;
        top: 50%;
        position: absolute;
        z-index: 2;

        @include media-breakpoint-up(md) {
            display: block;
        }

    }

    &.img-line:before {
        display: none;
        content: " ";
        height: 1px;
        background-color: #828790;
        top: 50%;
        position: absolute;
        z-index: 2;
        left: -12%;
        width: 30%;

        @include media-breakpoint-up(md) {
            display: block;
        }
    }

    &.img-wooden-circle:after {
        display: none;
        content: " ";
        background-image: url('/img/circle-wooden.png');
        background-size: cover;
        width: 400px;
        height: 400px;
        border-radius: 10em;
        position: absolute;
        z-index: 2;
        top: 50%;
        transform: translateY(-50%);

        @include media-breakpoint-up(lg) {
            display: block;
        }

        @include media-breakpoint-up(xl) {
            width: 450px;
            height: 450px;
        }
    }

    @include media-breakpoint-up(md) {

        &.img-styling-right:before {
            right: -5%;
        }

        &.img-styling-left:before {
            left: -5%;
        }

    }

    @include media-breakpoint-up(lg) {

        &.img-styling-right:before {
            right: -25%;
        }

        &.img-styling-left:before {
            left: -25%;
        }

        &.img-styling-bottom {
            padding: 3rem 0;
        }

        &.img-styling-bottom:before {
            transform: rotate(90deg);
            top: auto;
            left: 0;
            bottom: 25%;
        }

        &.img-styling-top:before {
            transform: rotate(90deg);
            top: auto;
            left: 0;
            top: 0%;
        }

    }
}
