.img {
    position: relative;

    &.img-wooden:before {
        display: none;
        content: " ";
        background-image: url('/img/line-wooden.png');
        background-size: cover;
        height: 8px;
        width: 35%;
        position: absolute;
        z-index: 2;
        top: 50%;

        @include media-breakpoint-up(lg) {
            display: block;
        }

    }

    &.img-styling-right:before {
        right: -25%;
    }

    &.img-styling-left:before {
        left: -25%;
    }
}
