.jumbotron {
    position: relative;


    p {
        max-width: 687px;
        padding-bottom: 5rem;
    }

    .container { z-index: 1; position: relative; }

    .jumbotron-media {
        position: relative;
        height: 140%;
        z-index: 4;
        background-size: cover;
        width: 30%;
        background-color: black;
        position: absolute;
        right: 0;
        top: -20%;
        border-radius: 3px;
        box-shadow: 0 0 40px 10px rgba(25, 28, 30, 0.1), 0 0 10px 1px rgba(0, 0, 0, 0.05);

    }

    .jumbotron-media-left {
        left: 0;
        right: initial;
    }

    .shape-oval {
        z-index: 0;
        display: none;

        @include media-breakpoint-up(sm) {
            width: 120px;
            height: 240px;
            left: -7%;
            margin-top: 25%;
            display: block;
        }
        @include media-breakpoint-up(md) {
            margin-top: 18%;
            left: -7%;
            width: 170px;
            height: 340px;
        }

        @include media-breakpoint-up(lg) {
            margin-top: 17%;
            width: 240px;
            height: 480px;
        }

        @include media-breakpoint-up(xl) {
            margin-top: 11%;
            width: 270px;
            height: 541px;
        }
    }

    .shape-circle-1 {
        width: 75px;
        height: 75px;
        right: 26%;
        top: 45%;
        transform: translateY(-50%);
        @include media-breakpoint-up(lg) {
            width: 163px;
            height: 163px;
            right: 23%;
            top: 45%;
        }
    }

    .shape-circle-2 {
        width: 25px;
        height: 25px;
        right: 32%;
        bottom: 30%;
        @include media-breakpoint-up(lg) {
            width: 75px;
            height: 75px;
            right: 32%;
            bottom: 10%
        }
    }



}
