.modal {
    .modal-header {
        color: $black;
        .close {
            margin-top: 8px;
            padding: 0;
        }
    }

    .modal-media {
        max-height: 380px;
    }

    .card-header-info {
        margin-bottom: 0 !important;
    }

    textarea {
        min-height: 200px;
    }

    .form-group-file {
        flex-direction: column;
        align-content: center;
        align-items: center;
        height: calc(100% - 1rem);

        .form-control {
            height: 100%;
        }
    }

    .modal-media {
        background-size: cover;
        background-repeat: no-repeat;
        height: 100%;
        min-height: 200px;
        margin-bottom: 1rem;
        background-image: url('img/rectangle-5.jpg');
    }

    h6 {
        font-size: $font-size-6;
        line-height: 0.86;
        letter-spacing: 2px;
        color: #afb0b1;
        text-transform: uppercase;
        margin-bottom: .7rem;
        font-weight: 500;

    }



    li {
        display: inline-block;
        color: $white;
        background-color: $purple-light;
        border-radius: 23px;
        font-size: 16px;
        padding: .54rem .7rem;
        margin-bottom: 7px;
    }

    .modal-footer {
        padding: 0;
        flex-direction: column;
        h6 {
            &:after, &:before {
                content: " ";
                display: inline-block;
                width: 100px;
                  height: 1px;
                  background-color: #afb0b1;
                  margin: 0 1rem 4px 1rem;
            }
        }
        .accordion-btn {
            width: 100%;
            max-width: none;
            padding: 1.3rem;
            margin-right: 0;
        }

        button .icon {
            background-size: 100%;
            background-position: center center;
            width: 10px;
            height: 10px;
            display: block;
            background-repeat: no-repeat;
            display: inline-block;
            margin-left: 5px;
            margin-top: -1px;
        }

        button[aria-expanded="false"] .icon {
            background-image:url('img/chevron-up.svg');
        }

        button[aria-expanded="true"] .icon {
            background-image:url('img/chevron-down.svg');
        }

        textarea { min-height: 130px; }
    }

    .modal-footer-title {
        color: $black;
        .dot {
              width: 6px;
              height: 6px;
              background-color: $color-secondary;
              border-radius: 10rem;
              display: inline-block;
              margin: 0 1rem 4px 1rem;
              content:" ";
        }

    }


}
