.section-bird-1 {
    pointer-events: none;
    width: 697px;
    height: 1035px;
    position: absolute;
    top: 0;
    z-index: 1111;
    right: 0;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center right;
    background-image: url('img/trajektorija.png');

    @include media-breakpoint-up(xl) {
        width: 797px;
    }
}

.section-bird-2 {
    pointer-events: none;
    width: 570px;
    height: 1209px;
    position: absolute;
    top: 0;
    z-index: 1111;
    right: 0;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top right;
    background-image: url('img/trajektorija-2.png');

    @include media-breakpoint-up(xl) {
        width: 570px;
    }
}


.section {
    padding: 3rem .75rem;
    overflow: hidden;
    @include media-breakpoint-up(lg) {
        padding: 4.81rem;
    }

    @include media-breakpoint-up(xl) {
        padding: 6.81rem;
    }


    &.section-shadow {
          box-shadow: 0 10px 35px 0 rgba(25, 28, 30, 0.07);
    }

    &.section-gradient {
          background-image: linear-gradient(to bottom, #ffffff, #f0f2f7);
    }

    &.section-text {
        ul {
            list-style: none;
            padding: .5rem 0;

            li {
                padding: 0;
                padding-bottom: 1rem;

                &:before {
                    content: "•";
                    color: $color-secondary;
                    padding-right: 1rem;
                    font-size: 2.045rem;
                    vertical-align: middle;
                }
            }
        }
    }

    &.section-text {
        margin: 0 auto;
    }

    .section-text, &.section-text {
        max-width: 830px;
        left: 0;
        right: 0;
        padding: 6.81rem 1rem;
        position: relative;

        h1 {
            font-size: $font-size-2;
            position: relative;
            padding-bottom: .8rem;
        }

        a {
            color: $color-secondary;
            text-decoration: underline !important;
        }

        p {
            z-index: 1;
        }

    }

    &.section-bubble {
        background-position: bottom right;
        background-size: 110px 125px;
        background-repeat: no-repeat;
        background-image: url('img/bubble.svg');

        @include media-breakpoint-up(md) {
            background-size: 310px 325px;
            background-position: center right;
        }

        @include media-breakpoint-up(xl) {
            min-height: 1200px;
            background-size: 720px 750px;
            background-position: center right;
        }
        p {

            @include media-breakpoint-up(xl) {
                padding-top: 10rem;
            }
        }
    }

    h1 { margin-bottom: 0.454rem; }

    .sub-title {
        font-size: 1.09rem;
        @include media-breakpoint-up(lg) {
            font-size: 1.09rem;
        }
        margin-top: 0;
    }

    .section-image {
        background-color: $color-primary;
        background-size: cover;
        background-position: center center;
        min-height: 250px;
    }

    .section-image-shadow {
        box-shadow: 0 20px 50px 0px rgba(0,0,0,0.1);
    }

    .section-media-hoverable {
        border-radius: 3px;
        position: relative;
        background-blend-mode: darken;
        h5 {
            position: absolute;
            bottom: 10px;
            left: 20px;
            color: white;
            padding-right: 20px;
        }

    }


    .section-text {
        flex-basis: 100%;
        display: flex;
        flex-direction: column;
        color: black;
        justify-content: center;
        padding-right: 2rem;
        padding-left: 2.45rem;

        p {
            max-width: 750px;
            line-height: 1.636rem;
        }

        @include media-breakpoint-up(xl) {
			padding-left: 5.45rem;
	    }
    }


}
