.section {
    padding: 1.95rem 0;

    &.section-intro {
        height: 100vh;
        background-image: url('/img/background-intro.png');
        background-size: cover;
        background-position: center center;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        background-color: rgba(0,0,0,0.7);

        span { display: block; }
    }

    &.section-featured {
        padding: 5rem 0 2.5rem 0;
    }

    &.section-quote {
        background-image: url('/img/background-intro.png');
        background-size: cover;
        background-position: center center;
        background-color: rgba(0,0,0,0.7);
        color: white;
        padding: 4rem 0;
        margin: 2rem 0;
    }

    .row div:nth-child(1) > .content { padding-left: 0;}

}

.content {
    padding: 0rem 4rem;
}
