.section {
    padding: 3rem .75rem;
    @include media-breakpoint-up(lg) {
        padding: 6.81rem;
    }

    &.section-shadow {
          box-shadow: 0 10px 35px 0 rgba(25, 28, 30, 0.07);
    }

    h1 { margin-bottom: 0.454rem; }

    .sub-title {
        font-size: 1.09rem;
        @include media-breakpoint-up(lg) {
            font-size: 1.09rem;
        }
        margin-top: 0;
    }

    .section-image {
        background-color: $color-primary;
        background-size: cover;
    }

    .section-text {
        flex-basis: 100%;
        display: flex;
        flex-direction: column;
        color: black;
        justify-content: center;
        padding-right: 2rem;
        padding-left: 2.45rem;

        p {
            max-width: 750px;
            line-height: 1.636rem;
        }

        @include media-breakpoint-up(xl) {
			padding-left: 5.45rem;
	    }
    }
}
