.shape {
    background-size: 100%;
    background-repeat: no-repeat;
    display: block;
    position: absolute;

    &.shape-oval {
        background-image: url('img/combined-shape.svg');
    }

    &.shape-circle {
        background-image: url('img/oval-5.svg');
    }

    &.shape-cta{
        background-image: url('img/cta-shape.svg');
    }

    &.shape-orbit {
        width: 150px;
        height: 150px;
        border: solid 2.6px $color-secondary;
        border-radius: 10rem;
        position: relative;
        margin: 0 auto;
        margin-top: 1.5rem;


        @include media-breakpoint-up(md) {
            margin-top: 5rem;
        }

        &:after {
            content: "";
            width: 85%;
            height: 85%;
            background-color: $color-secondary;
            border-radius: 10rem;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto;
            position: absolute;
        }
    }
}
