html {
    font-size: $font-size;
}

body {
    font-size: 1rem;
    font-family: $primary-font;
    margin: 0;
    line-height: 1;
    color: $color-primary;
}

p {
    color: $grey;
    line-height: 32px;
    &.spaced {
        font-weight: 300;
        letter-spacing: 4px;
    }
}

a {
    text-decoration: none !important;
    transition: all .2s ease;
    color: $color-primary;

    &:hover {
        opacity: 0.7 !important;
    }
}

img {
    max-width: 100%;
}

ul, blockquote {
    margin: 0;
    padding: 0;
}

li {
    padding-top: 0.681rem;
    padding-bottom: 0.681rem;
}

h1, h2, h3, h4, h5, .navigation{
    font-family: $primary-font;
    font-weight: 400;
    line-height: 1.1;
    font-weight: bold;
}

h1, h2, h3, h4, h5 {
    margin-top: 0.454rem;
    margin-bottom: 0.454rem;
}

h1 {
    font-size: $font-size-1;
}

h2 {
    font-size: $font-size-2;
}

h3 {
    font-size: $font-size-3;
}

h4 {
    font-size: $font-size-4;
}

h5 {
    font-size: $font-size-5;
}

.sub-title {
    font-weight: 600;
    line-height: 1.2;

    &.sub-title-primary {
        background-color: $purple-light;
        color: white;
        padding: 0.227rem 0.454rem;
        text-transform: uppercase;
        letter-spacing: 1px;
    }

}

blockquote {
    line-height: 1.2rem;
}
