@font-face {
    font-family: 'Metropolis';
    src: url('fonts/Metropolis-Regular.woff2') format('woff2'),
        url('fonts/Metropolis-Regular.woff') format('woff');
    font-weight: regular;
    font-style: normal;
}

@font-face {
    font-family: 'Metropolis';
    src: url('fonts/Metropolis-SemiBold.woff2') format('woff2'),
        url('fonts/Metropolis-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Metropolis';
    src: url('fonts/Metropolis-Bold.woff2') format('woff2'),
        url('fonts/Metropolis-Bold.woff') format('woff');
    font-weight: bold;
}


html {
    font-size: $font-size;
}

body {
    font-size: 1rem;
    font-family: $primary-font;
}

p {
    font-weight: 300;
    line-height: 1.65;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, .navigation{
    font-family: $primary-font;
    font-weight: 400;
    line-height: 1.2;
    font-weight: bold;
}

h1 {
    font-size: $font-size-1;
}

h2 {
    font-size: $font-size-2;
    margin-top: 1.75rem;
    margin-bottom: 1.75rem;
}

h3 {
    font-size: $font-size-3;
}

h4 {
    font-size: $font-size-4;
}

h5 {
    font-size: $font-size-5;
}


.sub-title {
    font-size: 1.3rem;
    font-weight: 400;
    margin-bottom: 0;
}

blockquote {
    line-height: 1.2rem;
}
