.text-center {
	text-align: center;
}

.offset-section-left {
	@include media-breakpoint-up(md) {
		margin-left: -15px;
	}
}

.offset-section-right {
	@include media-breakpoint-up(md) {
		margin-right: -15px;
	}
}
