$red: #221f20;
$black: #221f20;
$grey: #CAC8E2;
$grey-light: #c7c7c7;
$white: #FFF;
$blue-dark: #06041D;

$color-primary: $black;
$color-secondary: $blue-dark;

$font-size: 16px;

@include media-breakpoint-up(sm) {
    $font-size: 20px;
}
$font-size-1: 4.35rem; // 87px
$font-size-2: 4rem; // 80px
$font-size-3: 2.9rem; // 58px
$font-size-4: 2.25rem; // 45px
$font-size-5: 1.95rem; // 39px
$font-size-6: 1.8rem; // 36px
$font-size-navigation: 1.5rem; // 30px

$primary-font: "Unica One", "Tahoma", sans-serif;
$secondary-font: "Segoe UI", "Tahoma", sans-serif;
