html{
    font-size: 16px;
    color: #06041D;

    @media screen and (min-width: 768px){
	    font-size: 18px;
	}

	@media screen and (min-width: 1200px){
	    font-size: 20px;
	}
}

html, h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", sans-serif;
}

.title {
    font-size: 1.999em;
    font-weight: bold;
    padding: .35em .55em;
    margin: 0;

    @media screen and (min-width: 992px){

		    font-size: 3.998em;
	
	}
}
.text{line-height:2;}

p, .full-content p, .full-content ul, #blog-view .content-wrapper li {
    font-size: 1em;
    padding: .87em 0;
    font-family: 'Merriweather', serif;
}

.button{
	font-size:1em;
	border: none;
    outline: none;
    display: inline-block;
    vertical-align: middle;
    -webkit-backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition: background-color 0.3s, color 0.3s;
    transition: background-color 0.3s, color 0.3s; 
    background: $primary-color;
    color: #FFFFFF;
    padding: .57em 1.47em;

    @media screen and (min-width: 992px){
		font-size: 0.707em;
	}
}

.button-primary {
    min-width: 150px;
    max-width: 250px;
    position: relative;
    z-index: 1;
    border-radius: 47px;
	
	&:hover:before{
		    -webkit-transition: background-color 0.1s 0.3s, color 0.1s 0.3s;
		    transition: background-color 0.1s 0.3s, color 0.1s 0.3s;
		    color: #06041D;
		    background-color: #FFFFFF !important;
		    -webkit-animation: anim-moema-1 0.3s forwards;
		    animation: anim-moema-1 0.3s forwards;
		&:before{
			-webkit-animation: anim-moema-2 0.3s 0.3s forwards;
	    	animation: anim-moema-2 0.3s 0.3s forwards;	
		}
	}

	&:before{
	    content: '';
	    position: absolute;
	    top: -20px;
	    left: -20px;
	    bottom: -20px;
	    right: -20px;
	    background: inherit;
	    border-radius: 47px;
	    z-index: -1;
	    opacity: 0.4;
	    -webkit-transform: scale3d(0.8, 0.5, 1);
	    transform: scale3d(0.8, 0.5, 1);
	}    
}

.button-none {
    background: none;
}

h6, .button, .simple-section-wrapper .title {
    line-height: 1.7;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 800;
}

.button-line {
    margin-left: 27px;
    margin-right: 27px;
    background: none;
    border-bottom: 1px solid #FFFFFF;
}
