#karjera {
    .section-image {
        position: relative;

        .shape-circle {
            width: 167px;
            height: 167px;
            bottom: -43px;
            right: -43px;
        }
    }

}
